@import './normalize.css';

html,
body {
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ant-design-vue 样式 */
/* a-select */
:where(.css-dev-only-do-not-override-1p3hq3p).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border: unset;
  color: #FFF;
  background: #1d2f46;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-select-single.ant-select-show-arrow .ant-select-selection-item, :where(.css-dev-only-do-not-override-1p3hq3p).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
  color: #fff;
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-select .ant-select-arrow{
  cursor: pointer;
  color: #FFF;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  background: #1d2f46;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-select-dropdown .ant-select-item{
  cursor: pointer;
  color: #fff;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  color: #0088f1;
}
/* a-modal */
:where(.css-dev-only-do-not-override-1p3hq3p).ant-modal .ant-modal-content{
  color: #FFF;
  padding: 20px 0;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-modal .ant-modal-content{
  background-color: #075785;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-modal .ant-modal-body{
  margin: 24px;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-modal .ant-modal-title{
  color: #FFF;
  padding-left: 24px;
  padding-bottom: 8px;
  background-color: #075785;
  border-bottom: 1px solid #7ea5be;
}

.anticon{
  color: #FFF;
}